<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <% if @user.errors.any? %>
      <div class ="error">
        <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_with model: @user do |f| %>
        <div class="user-name my-2">Name</div>
          <%= f.text_field :name ,class: "form-control" %>

        <div class="user-edit-image my-2">Image</div>
          <%= f.file_field :profile_image %>

        <div class="form-body my-2">Introduction</div>
          <%= f.text_area :introduction , class: "form-control mb-3" %>

        <div class="upload mb-2">
          <button type="submit" class="btn btn-secondary">Update User</button>
        </div>

      <% end %>
    </div>
  </div>
</div>