<% @books.each do |post_image| %>
  <div>
    <%= image_tag post_image.get_image %>
    <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
    <p>TItle：<%= book.title %></p>
    <p>Opinion：<%= book.opinion %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>